* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.navbar-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: #13293d;
  flex-wrap: wrap;
}

.navbar-logo img {
  width: 220px;
}

.navbar-menus {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.navbar-menus a {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
}
